<div id="sitebar">
	<h1 id="title" style="font-family:impact">The Great Game Share</h1>
	<a class="navbar-form navbar-right glyphicon glyphicon-cog" href="myuserpage">{{user.username}}</a> <!--send to get request that will load main page and current user -->


		<form class="navbar-form navbar-right" role="search" method="post" action="./list">
    	<div class="form-group">
          <input type="text" class="form-control" placeholder ="Search Game ..." name="query" >
        </div>
        <button type="submit" class="btn btn-default">
     		<span class="glyphicon glyphicon-search"></span> Search
   		 </button>
    </form>
 
 
 
 	<img src="http://freeiconbox.com/icon/256/28754.png" alt="logo" style="height:50px">
</div>

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div>
      		<ul class="nav navbar-nav">
       			<li class="active"><a href="main" class="glyphicon glyphicon-home" id="toMain">To Main Page</a></li>
        		<li><a href="usersearch">Search Users</a></li> <!-- each of these will send to the get that will load based on who is logged in-->
        		<li><a href="userupdate">Update Info</a></li> 
        		<li><a href="userpost">Post a Game</a></li> 
        		<li><a href="logout">Log-Out</a></li> 

        	
      		</ul>
     	 	<ul class="nav navbar-nav navbar-right">
        		<li><a href="#"><span class="glyphicon glyphicon-user"></span> Join The Share Network</a></li>
       			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login to Account</a></li>
     		</ul>
   		</div>
	</div>
</nav>



<div style="text-align:center">
	<div id="userpicture">

	<img class="img-thumbnail" src={{user.pic}}>
	
	</div>

<div id="userinfo">
	<h3 id="name">{{user.username}}</h3>
	<h3>Rating:{{user.rating}}</h3>
	<h3>Email:{{user.email}}</h3>
	<h3>Description: {{user.description}}</h3>

</div>



<h1> Checked Out: </h1>
<div class="userproducts">

{{#each bought}}
<div class="postingwrapper">
	<div class="userbought">
	<img class="img-thumbnail" src={{this.image}}>
	

	</div>
	<p>{{this.title}}</p>
	<p>${{this.price}} per week</p>
</div>
{{/each}}

</div>

<h1> Postings: </h1>

<div class="userproducts">

	{{#each posts}}
		<div class="postingwrapper">
		<div class="userposting">
		<a href="product?productid={{this._id}}">

		<img class="img-thumbnail" src={{this.image}}>
	
		</a>

		</div>
		<p>{{this.title}}</p>
		<p>${{this.price}} per week</p>
		</div>
	{{/each}}

</div>



</div>












</div>

<div id="rateuser">
<h1> Rate User</h1>
<img src="star.png" class="star" id="rank1">
<img src="star.png" class="star" id="rank2">
<img src="star.png" class="star" id="rank3">
<img src="star.png" class="star" id="rank4">
<img src="star.png" class="star" id="rank5">


</div>


</div> <!--end of container div -->


<div id="bottomdiv">
<p> About: The Great Game Share is not liable for any problems that may arise in your life</p>
<p> Terms and conditions, don't be a jerk</p>
<p> Privacy Policy, don't steal, or we will find you</p>
<p> Even more other useless and pointless stuff </p>
</div>


